<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJW dersi</title>
</head>
<body>
    <h1>Hello EJS Lorem ipsum dolor sit amet. </h1>
    <!-- send code to nodejs   ejs kodlari acma kapama <%  %>  -->
    <%  console.log('hello maral'); %> 
    <!-- safe print to html  = esittir ekrana yazdirmak icin  -->
     <%= (8-7) %>
     <%=  (8-7) %>
</body>
</html>